body {
    background-color: rgb(255, 112, 112);
    font-family: Helvetica;
}
    
#main {
    width: 90%;
    max-width: 1800px;
    border: 1px gray solid;
    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
    
#header {
    margin-top: 0;
    border: 2px solid black;
    padding: 5px;
    height: 250px;
    background: #5f5f5f;
    background-image: url("code.jpg");
    background-blend-mode: lighten;
    color:black;
}
    
label {
    display: block;
}
   
input {
    width: 30px;
    margin-left: 20px;
}
    
h2 {
    clear: both;
    padding-top: 20px;
}
    
button {
    width: 150px;
    height:40px;
    background-color: rgb(199, 200, 201);
    box-shadow: darkgrey;
    margin-top: 20px;
}    